body {
  background-color: #F3F3F3;
  overflow-x: hidden;
}
.row.page-titles {
       margin-top: 5vw;
}
button.btn.btn-danger {
  margin-bottom: 1vw;
  margin-left: 1vw;
}
#post_img{
  height:10vw;
  width:10vw;
}
#post_bannerimg{
  height:10vw;
  width:10vw;
}
#next_page_btn a {
  text-decoration: none;
  display: inline-block;
  padding: 3px 16px;
  margin-left: 0.4vw;
  margin-bottom: 1vw;
  border-radius: 4px;
}
#add_btn{
  margin-left: 1.8vw;
  margin-bottom: 2vw;
}
#category_edit{
  margin-right:1.5vw;
}
#next_page_btn a:hover {
  background-color: #ddd;
  color: black;
}
.btn_section {
  float: right;
  margin-right: 3vw;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.next {
  background-color: #2B4EF1;
  color: white;
}

.table-responsive.m-t-40 {
       margin-top: 5vw;
       border-bottom: 1px solid black;
   }
   button.btn.waves-effect.waves-light.btn-info {
       margin-right: 1vw;
   }
   i.fa.fa-plus-circle.m-r-5 {
       color: white;
       margin-right: 5px;
   }
   i.fa.fa-download.m-r-5{
       color: white;
       margin-right: 5px;      
   }
   i.fa.fa-upload.m-r-5{
       color: white;
       margin-right: 5px;  
   }
   thead {
    background-color: #2A2D30;
    color: white;
}
   input[type=text] {
    padding: 6px;
    margin-top: 0.5px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    background-color:offwhite;
    float: left;
    margin-right: 1.8vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid grey;
  }
.validation { color: #f10d0d;}
.vtabs{width: 100%;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.vtabs{
    border: 1px solid #e9ecef;
}
.nav-tabs{
    border: 1px solid #e9ecef;
    margin-top: 20px;
}
.vtabs .tabs-vertical{
    width: 225px !important;
}
.f-r{
    float: right;
}

.Excelfile > input[type='file'] {
    display: none
  }
.Excelfile  label {
    margin-bottom: 0px;
    padding: 6px; 
    cursor: pointer;
}
.Excelfile {
    padding: 0px !important;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
} 
.noimage{
    width:100px;
    height: 100px;
}
.note.note-info {
    background-color: #efd7d0;
    border-color: #fb9678;
    color: #010407;
}
.note {
    margin: 0 0 20px;
    padding: 15px 30px 15px 15px;
    font-weight: 400;
    border-left: 5px solid #eee;
}

.pictureHgt{
    height: 100px;
}


/* ===== upload button===== */
.btn_upload {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #2a72d4;
    border: 1px solid #166b8a;
    padding: 5px 10px;
  }
  
  .btn_upload:hover,
  .btn_upload:focus {
    background-color: #7ca9e6;
  }
  
  .yes {
    display: flex;
    align-items: flex-start;
    margin-top: 10px !important;
  }
  
  .btn_upload input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    filter: alpha(opacity=1);
    -moz-opacity: 0;
    opacity: 0;
  }
  
  .it {
    height: 100px;
    margin-left: 10px;
  }
  
  .btn-rmv1 {
    display: none;
  }
  
  .rmv {
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    display: inline-block;
    background: rgba(255, 0, 0, 1);
    margin: -5px -10px;
  }
  
  .rmv:hover {
    background: rgba(255, 0, 0, 0.5);
  }
  @media (max-width: 1030px){
  .table-responsive.m-t-40 {
    margin-top: 11vw;
    border-bottom: 1px solid black;
}
.row.page-titles {
  margin-top: 10vw;
  margin-bottom: 2vw;
}
}
@media (max-width: 770px){
.vtabs .tabs-vertical { 
    display: table-row !important;
}
.table-responsive.m-t-40 {
  margin-top: 12vw;
  border-bottom: 1px solid black;
}
}
@media (max-width: 540px){
.table-responsive.m-t-40{
  margin-top: 22vw;
  border-bottom: 1px solid black;
}
div#example23_wrapper {
margin-left: -2.5vw;
}
input[type=text] {
width: -webkit-fill-available;
padding: 6px;
margin-top: 0.5px;
margin-right: 16px;
border: none;
font-size: 17px;
background-color: offwhite;
float: left;
margin-right: 1.8vw;
margin-bottom: 2vw;
margin-left: 2vw;
border-left: 1px solid white;
border-right: 1px solid white;
border-top: 1px solid white;
border-bottom: 1px solid grey;
}
}
@media (max-width: 420px){
  div#example23_wrapper {
    margin-left: -4vw;
}
#search_box {
  padding: 6px;
  margin-top: 10vw;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  background-color: offwhite;
  float: left;
  margin-right: 1.8vw;
  margin-bottom: 3vw;
  margin-left: 2vw;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid grey;
  width: -webkit-fill-available;
}
.table-responsive.m-t-40{
margin-top: 38vw;
border-bottom: 1px solid rgb(218, 211, 211);
}
}
@media (max-width: 380px){
button.btn.waves-effect.waves-light.btn-info {
  margin-right: 1vw;
  width: 100%;
  margin-bottom: 5vw;
}
.Excelfile {
padding: 0px !important;
position: relative;
display: inline-block;
justify-content: center;
align-items: center;
width: -webkit-fill-available;
}
.row.page-titles {
margin-top: 20vw;
}
.table-responsive.m-t-40{
margin-top: 64vw;
border-bottom: 1px solid black;
}
div#example23_wrapper {
margin-left: -4vw;
}
}
@media (max-width: 360px){
button.btn.waves-effect.waves-light.btn-info {
  margin-right: 1vw;
  margin-bottom: 5vw;
}
.table-responsive.m-t-40 {
  margin-top: 5vw;
  margin-right: -13vw;
  border-bottom: 1px solid black;
  width: 100%;
}
input[type=text] {
  width: 75vw;
  position: absolute;
  padding: 6px;
  margin-top: 48vw;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  background-color: offwhite;
  float: left;
  margin-right: 1.8vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid grey;
}
table#example {
  margin-top: 42vw;
  margin-left: -5vw;
}
#category_edit {
  margin-right: 1.5vw;
  width: 10.5vw;
  margin-bottom: 2vw;
}
.row.page-titles {
  margin-top: 25vw;
  font-size: larger;
}
#next_page_btn a {
  text-decoration: none;
  display: inline-block;
  padding: 13px 16px;
  margin-left: 4vw;
  margin-bottom: 11vw;
  border-radius: 4px;
}
#search_box {
  width: 85%;
  padding: 6px;
  margin-top: 40vw;
  margin-right: 6px;
  border: none;
  font-size: 17px;
  background-color: offwhite;
  float: left;
  margin-right: 8vw;
  margin-bottom: 2vw;
  margin-left: 2.5vw;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid grey;
}
button.btn.waves-effect.waves-light.btn-info {
  min-width: -webkit-fill-available;
  margin-right: 1vw;
  margin-bottom: 5vw;
}

.Excelfile {
  padding: 0px !important;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}
#add_btn {
  min-width: 75vw;
  margin-bottom: 2vw;
  margin-top: 5vw;
  position: absolute;
}
}
   