<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Add Query</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="text-decoration: none;" routerLink="../overview">Dashboard</a></li>
                <li class="breadcrumb-item active">Add Query</li>
            </ol> 
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card"> 
            <form  #form="ngForm" enctype="multipart/form-data"> 
                <div class="form-body">
                    <div class="card-body">
                        <div class="row pt-3">
                            <div class="col-md-6">
                                <div class="form-group" id="category_form">
                                    <label class="control-label"> Name <span class="required">*</span></label>
                                    <input type="text" #name  [(ngModel)]="nameTxt" name="name" class="form-control" placeholder="User Name" required>                                    
                                 </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group" id="category_form">
                                    <label class="control-label"> Product Id <span class="required">*</span></label>
                                    <input type="text" #productId  [(ngModel)]="ProductIdTxt" name="productId" class="form-control" placeholder="Product Id" required>                                    
                                 </div>
                            </div> 
                           
                        </div> 
                        <div class="row pt-3">
                            <div class="col-md-6">
                                <div class="form-group" id="category_form">
                                    <label class="control-label">Product Name <span class="required">*</span></label>
                                    <input type="text" #productName [(ngModel)]="ProductNameTxt" name="productName" class="form-control" placeholder="Product Name" required>                                    
                                 </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group" id="category_form">
                                    <label class="control-label">Email <span class="required">*</span></label>
                                    <input type="text" #email [(ngModel)]="emailTxt" name="email" class="form-control" placeholder="Email" required>                                    
                                 </div>
                            </div> 
                            </div>
                        <div class="row pt-3">
                            <div class="col-md-6">
                                <div class="form-group" id="category_form">
                                    <label class="control-label">Contact <span class="required">*</span></label>
                                    <input type="text" #contact [(ngModel)]="contactTxt" name="contact" class="form-control" placeholder="Contact No" required>                                    
                                 </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group" id="category_form">
                                    <label class="control-label">Message <span class="required">*</span></label>
                                    <input type="text" #message [(ngModel)]="messageTxt" name="message" class="form-control" placeholder="Message" required>                                    
                                 </div>
                            </div> 
                            </div>
                        </div> 
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit"  [disabled]="!form.valid" class="btn btn-success m-r-10" (click)="insert(form.value);">  <i class="fa fa-check"></i> Add </button>
                          
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

