
html {
    background-color: #56baed;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  #error_message {
    color: black;
    font-size: 1vw;
    padding: 0.4vw;
    width: max-content;
    margin-left: 9.9vw;
    background-color: palegoldenrod;
    margin-bottom: 2vw;
    display: none;
    margin-top: -1vw;

    border-radius: 6px;
}
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  

  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}
  input[type=text]:focus,input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder,input[type=password]:placeholder {
    color: #cccccc;
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  *:focus {
      outline: none;
  } 
  .wrapper.fadeInDown {
    background-color: cornsilk;
}
  #icon{
    /* width: 30%; */
    border-radius: 100%;
    margin-top: 2vw;
    width: 140px;
    height: 127px;
}
h1{
    color: #60a0ff;
    font-family: -webkit-body;
}
@media(max-width:1030px){
#error_message{
  color: black;
  font-size: 1.5vw;
  padding: 0.4vw;
  width: -webkit-max-content;
  width: max-content;
  margin-left: 13vw;
  background-color: palegoldenrod;
  margin-bottom: 5vw;
  display: none;
  margin-top: -1.5vw;
  border-radius: 6px;
}
}
@media(max-width:770px){
#error_message{
  color: black;
  font-size: 2vw;
  padding: 0.4vw;
  width: -webkit-max-content;
  width: max-content;
  margin-left: 17.5vw;
  background-color: palegoldenrod;
  margin-bottom: 5vw;
  display: none;
  margin-top: -2vw;
  border-radius: 6px;
}
}
@media(max-width:540px){
#error_message {
  color: black;
  font-size: 2.6vw;
  padding: 0.4vw;
  width: -webkit-max-content;
  width: max-content;
  margin-left: 26vw;
  background-color: palegoldenrod;
  margin-bottom: 5vw;
  display: none;
  margin-top: -2vw;
  border-radius: 6px;
}
}
@media(max-width:415px){
  #error_message {
    color: black;
    font-size: 3.7vw;
    padding: 0.7vw;
    width: -webkit-max-content;
    width: max-content;
    margin-left: 19vw;
    background-color: palegoldenrod;
    margin-bottom: 5vw;
    display: none;
    margin-top: -5vw;
    border-radius: 6px;
}
  }
@media(max-width:360px){
  #error_message {
    color: black;
    font-size: 4.5vw;
    padding: 0.7vw;
    width: -webkit-max-content;
    width: max-content;
    margin-left: 13.3vw;
    background-color: palegoldenrod;
    margin-bottom: 5vw;
    display: none;
    margin-top: -5vw;
    border-radius: 6px;
  }
  }
@media(max-width:320px){
  #error_message {
    color: black;
    font-size: 4.5vw;
    padding: 0.7vw;
    width: -webkit-max-content;
    width: max-content;
    margin-left: 13vw;
    background-color: palegoldenrod;
    margin-bottom: 5vw;
    display: none;
    margin-top: -5vw;
    border-radius: 6px;
  }
  }

@media(max-width:280px){
    input.fadeIn.fourth {
        padding: 5vw;
    }
}