          <nav class="sidebar sidebar-offcanvas" id="sidebar" style="position:fixed;">
            <ul class="nav">
              <li class="nav-item nav-profile">
                <a href="javascript:void(0)" class="nav-link">
                  <div class="profile-image">
                    <img class="img-xs rounded-circle" src="./assets/images/admin_img.png" alt="profile image">
                    <p id="admin_name"> Admin</p>
                    <div class="dot-indicator bg-success"></div>
                  </div>
                </a>
              </li>
              <li class="nav-item nav-category">Main Menu</li>
              <li class="nav-item">
                <a class="nav-link" routerLink="overview" *ngIf="finaldata.includes('Dashboard')" >
                  <i class="fa fa-tachometer"></i>
                  <span class="menu-title">Dashboard</span>
                </a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" routerLink="product" *ngIf="finaldata.includes('Product')">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="menu-title">Product</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="featuredproduct" *ngIf="finaldata.includes('FeaturedProduct')">
                  <i class="fa fa-bitbucket"></i>
                  <span class="menu-title">Featured Product</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="reviews" *ngIf="finaldata.includes('Reviews')">
                  <i class="fa fa-paper-plane"></i>
                  <span class="menu-title">Reviews</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="enquiry" *ngIf="finaldata.includes('Enquiry')">
                  <i class="fa fa-phone"></i>
                  <span class="menu-title">Enquiry</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="testimonial" *ngIf="finaldata.includes('Testimonials')">
                  <i class="fa fa-quote-left"></i>
                  <span class="menu-title">Testimonials</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic" *ngIf="finaldata.includes('Category')">
                  <i class="fa fa-list-alt"></i>
                  <span class="menu-title">Category</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="category" *ngIf="finaldata.includes('Category')">Main-Category</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="sub-category" *ngIf="finaldata.includes('Sub-Category')">Sub-Category</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="registereduser" *ngIf="finaldata.includes('Registeration')">
                  <i class="fa fa-sign-in"></i>
                  <span class="menu-title">Registeration</span>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="Admin/registeration">
                  <i class="menu-icon typcn typcn-th-large-outline"></i>
                  <span class="menu-title">Registeration</span>
                </a>
              </li> -->
            </ul>
          </nav>