
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Registration</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="Admin/overview">Dashboard</a></li>
                <li class="breadcrumb-item active">Registration</li>
            </ol> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card"> 
            <form  #form="ngForm"  enctype="multipart/form-data"> 
                <div class="form-body">
                    <div class="card-body">
                        <div class="row pt-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">User Name <span class="required">*</span></label>
                                    <input type="text" #name  [(ngModel)]="usernameTxt" name="name" class="form-control"  class="form-control" placeholder="Username" required>                                    
                                 </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Email Address <span class="required">*</span></label>
                                    <input type="email"  #email  [(ngModel)]="emailTxt" name="email" class="form-control" placeholder="Email" required> 
                                </div>
                            </div> 
                            <div class="row pt-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Password <span class="required">*</span></label>
                                    <input type="password" #password [(ngModel)]="passwordTxt" name="password" class="form-control" placeholder="Password" required> 
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Contact <span class="required">*</span></label>
                                    <input type="number" #contact [(ngModel)]="contactTxt" name="contact" class="form-control" placeholder="Contact No"  required> 
           
                                </div>
                            </div> 
                            </div>
                            
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="Permission" >Access Permission<span class="required">*</span></label>
                                        <select id="Permission" #permissions [(ngModel)]="permissionTxt" name="permissions" class="form-control"(click)="get();" required>
                                          <option *ngFor="let post of access" [value]="post._id"> {{post.name}}</option>
                                        </select> 
                                        <!-- Access Permission :
                                        <div >
                                            <label *ngFor="let post of access" for="Permission">
                                              <input id="Permission" type="checkbox" #permissions name="permissions" [value]="post._id" (change)="getIds($event,post.id);"/>
                                              {{post.name}}
                                            </label>
                                          </div> -->
                                     </div>
                                </div> 
                            </div>  
                        </div>  
                    </div> 
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" [disabled]="!form.valid" class="btn btn-success m-r-10"  (click)="Registeration();">  <i class="fa fa-check"></i> Create</button>
                          
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

