<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Reviews</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="text-decoration: none;" routerLink="../overview">Dashboard</a></li>
                <li class="breadcrumb-item active">Reviews</li>
            </ol> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">   
                <div class="button-group f-r p-b-10">                 
                    <button type="button"   (click)="exportAsXLSX()"  class="btn waves-effect waves-light btn-primary"><i class="fa fa-download m-r-5"></i>Export to Excel</button>        
                    <div class='Excelfile btn btn-primary'>
                        <label for='input-file'><i class="fa fa-upload m-r-5"> </i>Import from Excel</label>  
                        <input type="file" id='input-file' appReadexcel  (eventEmitter)="DataFromEventEmitter($event)"    />
                    </div>     

                </div> 
                
                <div class="col-sm-6">
                    <button type="button" id="add_btn" routerLink="../verifiedreview" class="btn waves-effect waves-light btn-primary"><i class="fa fa-check-circle"></i>View Verified Reviews</button>  
                </div>
                

                <div class="table-responsive m-t-40">
                        
                
                    <div id="example23_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">                         
                        <table id="example"  class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;" >
                        <thead>
                            <tr>
                                <th> Name  </th>
                                <th> Email  </th>
                                <th> Reviews  </th>
                                <th> ID  </th>
                                <th> Verify Status  </th>
                                <th> Action   </th>
                            </tr>
                        </thead> 
                        <tbody id="table_body">
                            <tr role="row" class="odd" id="sub_category_tr" *ngFor="let post of reviewlist ">
                                <td><a href="javascript:void(0)" style="color:black;text-decoration:none;">{{post.name}}</a></td>
                                <td><a href="javascript:void(0)" style="color:black;text-decoration:none;">{{post.email}}</a></td>
                                <td><a href="javascript:void(0)" style="color:black;text-decoration:none;">{{post.message}}</a></td>
                                <td><a href="javascript:void(0)" style="color:black;text-decoration:none;">{{post._id}}</a></td>
                                <td><a href="javascript:void(0)" style="color:black;text-decoration:none;">{{post.verified}}</a></td>
                                <td><button type="button" class="btn btn-danger" style="background-color:#284CF0;" (click)="edit(post._id)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger"  (click)="delete(post._id)"><i class="fa fa-trash"></i></button>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>         
        </div>
    </div>   
</div>
</div>